
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604685359502459567.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604685359502459567.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604685359502459567.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604685359502459567.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604685359502459567.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604685359502459567.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604685359502459567.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604685359502459567.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604685359502459567.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604685359502459567.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604685359502459567.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604685359502459567.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604685359502459567.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-604685359502459567.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604685359502459567.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604685359502459567.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604685359502459567.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604685359502459567.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604685359502459567.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604685359502459567.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604685359502459567.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604685359502459567.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-604685359502459567.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604685359502459567.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-604685359502459567.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-604685359502459567.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604685359502459567.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-604685359502459567.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604685359502459567.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-604685359502459567.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-604685359502459567.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-604685359502459567.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-604685359502459567.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604685359502459567.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-604685359502459567.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-604685359502459567.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604685359502459567.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604685359502459567.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604685359502459567.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604685359502459567.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604685359502459567.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604685359502459567.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604685359502459567.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604685359502459567.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-604685359502459567.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604685359502459567.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-604685359502459567.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-604685359502459567.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604685359502459567.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-604685359502459567.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-604685359502459567.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604685359502459567.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-604685359502459567.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-604685359502459567.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-604685359502459567.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-604685359502459567.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-604685359502459567.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-604685359502459567.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604685359502459567.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604685359502459567.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-604685359502459567.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-604685359502459567.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-604685359502459567.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-604685359502459567.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604685359502459567.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-604685359502459567.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-604685359502459567.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-604685359502459567.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-604685359502459567.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-604685359502459567.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604685359502459567.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604685359502459567.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604685359502459567.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604685359502459567.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-604685359502459567.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-604685359502459567.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-604685359502459567 .gp-relative{position:relative}.gps-604685359502459567 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604685359502459567 .gp-mb-0{margin-bottom:0}.gps-604685359502459567 .gp-flex{display:flex}.gps-604685359502459567 .gp-inline-flex{display:inline-flex}.gps-604685359502459567 .gp-grid{display:grid}.gps-604685359502459567 .\!gp-hidden{display:none!important}.gps-604685359502459567 .gp-hidden{display:none}.gps-604685359502459567 .gp-h-full{height:100%}.gps-604685359502459567 .gp-max-w-full{max-width:100%}.gps-604685359502459567 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604685359502459567 .gp-flex-col{flex-direction:column}.gps-604685359502459567 .gp-items-center{align-items:center}.gps-604685359502459567 .gp-justify-center{justify-content:center}.gps-604685359502459567 .gp-overflow-hidden{overflow:hidden}.gps-604685359502459567 .gp-break-words{overflow-wrap:break-word}.gps-604685359502459567 .gp-text-center{text-align:center}.gps-604685359502459567 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-604685359502459567 .gp-no-underline{text-decoration-line:none}.gps-604685359502459567 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604685359502459567 .gp-duration-200{transition-duration:.2s}.gps-604685359502459567 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604685359502459567 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-604685359502459567 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-604685359502459567 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-604685359502459567 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-604685359502459567 .tablet\:\!gp-hidden{display:none!important}.gps-604685359502459567 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-604685359502459567 .mobile\:\!gp-hidden{display:none!important}.gps-604685359502459567 .mobile\:gp-hidden{display:none}}.gps-604685359502459567 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-604685359502459567 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v51/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbWmT.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4TPAghGTQ"}' data-id="g4TPAghGTQ" id="g4TPAghGTQ" data-same-height-subgrid-container class="g4TPAghGTQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ml-tablet:auto;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--ml-mobile:auto;--pt-mobile:16px;--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gonwMBGT5Z gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZ6K2q11zu"
        class="gZ6K2q11zu"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--pt:0px;--pl:100px;--pb:0px;--pr:100px;--ml-tablet:0px;--mb-tablet:20px;--pt-tablet:0px;--pl-tablet:100px;--pb-tablet:0px;--pr-tablet:100px;--ml-mobile:0px;--mb-mobile:17px;--pt-mobile:8px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:18px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#282828;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:30px;--pr:30px;--pt:16px;--pb:16px;--pl-tablet:30px;--pr-tablet:30px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZ6K2q11zu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://petcura.nl/products/gewrichtssnacks","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-mobile:15px;--pr-mobile:15px;--ta:center" >
        <style>[data-id="gTxKy-X2kb"].gp-button-base::before, [data-id="gTxKy-X2kb-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="gTxKy-X2kb"]:hover::before, [data-id="gTxKy-X2kb-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gTxKy-X2kb" dataId="gTxKy-X2kb" data-state="idle" aria-label="<p>Bekijk Heup en Gewrichten</p>"
          
          href="https://petcura.nl/products/gewrichtssnacks" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--bgi:;--bg:#028901;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Roboto, 'Roboto'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gTxKy-X2kb gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Roboto, 'Roboto'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggTxKy-X2kb_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-604685359502459567 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=604685359434957487&sectionId=604685359502459567)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggZ6K2q11zu_text","label":"ggZ6K2q11zu_text","default":"<p>Onze blonde Golden Retriever Ollie is een echt knuffelbeertje. Helaas had Ollie net als andere honden vaak last van gewrichtspijn en stijfheid. Na lang zoeken hebben we eindelijk een oplossing gevonden die werkt! In dit artikel delen we de oplossing die voor Ollie geweldig heeft gewerkt, zodat ook jouw hond weer soepel kan bewegen.</p>"},{"type":"html","id":"ggTxKy-X2kb_label","label":"ggTxKy-X2kb_label","default":"<p>Bekijk Heup en Gewrichten</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}