
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-615145399560307549.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-615145399560307549.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-615145399560307549.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-615145399560307549.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-615145399560307549.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-615145399560307549.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-615145399560307549.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-615145399560307549.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-615145399560307549.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-615145399560307549.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-615145399560307549.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-615145399560307549.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-615145399560307549.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-615145399560307549.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-615145399560307549.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-615145399560307549.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-615145399560307549.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-615145399560307549.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-615145399560307549.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-615145399560307549.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-615145399560307549.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-615145399560307549.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-615145399560307549.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-615145399560307549.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-615145399560307549.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-615145399560307549.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-615145399560307549.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-615145399560307549.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-615145399560307549.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-615145399560307549.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-615145399560307549.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-615145399560307549.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-615145399560307549.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-615145399560307549.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-615145399560307549.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-615145399560307549.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-615145399560307549.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-615145399560307549.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-615145399560307549.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-615145399560307549.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-615145399560307549.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-615145399560307549.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-615145399560307549 .gp-relative{position:relative}.gps-615145399560307549 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-615145399560307549 .gp-mb-0{margin-bottom:0}.gps-615145399560307549 .gp-flex{display:flex}.gps-615145399560307549 .gp-grid{display:grid}.gps-615145399560307549 .\!gp-hidden{display:none!important}.gps-615145399560307549 .gp-hidden{display:none}.gps-615145399560307549 .gp-max-w-full{max-width:100%}.gps-615145399560307549 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-615145399560307549 .gp-flex-col{flex-direction:column}.gps-615145399560307549 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615145399560307549 .gp-duration-200{transition-duration:.2s}.gps-615145399560307549 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-615145399560307549 .tablet\:\!gp-hidden{display:none!important}.gps-615145399560307549 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-615145399560307549 .mobile\:\!gp-hidden{display:none!important}.gps-615145399560307549 .mobile\:gp-hidden{display:none}}.gps-615145399560307549 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gTX0qxuPLn"}' data-id="gTX0qxuPLn" id="gTX0qxuPLn" data-same-height-subgrid-container class="gTX0qxuPLn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:var(--g-s-2xl);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0aefqn2rp gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:var(--g-s-4xl);--pr:var(--g-s-4xl);--pl-mobile:20px;--pr-mobile:10px;--pl-tablet:var(--g-s-4xl);--pr-tablet:var(--g-s-4xl);--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gtQbbapomd gp-custom-code">
      <div>
    <div data-role="" style="margin-top:40px;position:relative;padding:0px;box-sizing:border-box;font-family:Inter, sans-serif;">
    <h2 style="color:rgb(1, 1, 1);font-size:22px;font-weight:700;margin-bottom:30px;margin:0px 0px 30px;padding:0px;box-sizing:border-box;font-family:Inter, sans-serif;">
        Reacties <span style="margin:0px;padding:0px;box-sizing:border-box;font-family:Inter, sans-serif;">(11)</span>
    </h2>

    <ol style="list-style:outside none none;margin:0px;padding:0px;box-sizing:border-box;font-family:Inter, sans-serif;">

        <!-- Korte comment 1 -->
        <li data-depth="1" style="border-bottom:1px solid rgb(239, 239, 239);padding-bottom:20px;margin-bottom:20px;margin:0px 0px 20px;padding:0px 0px 20px;box-sizing:border-box;font-family:Inter, sans-serif;">
            <div>
                <div style="display:flex;align-items:flex-start;">
                    <div style="width:40px;height:40px;background-color:rgb(117, 192, 213);border-radius:100%;position:relative;">
                        <img width="18" height="20" src="https://healthinsider.news/app/themes/Health-Insider/images/avatar.svg" alt="avatar" style="position:absolute;top:20px;left:20px;transform:translate(-9px,-10px);filter:brightness(0) saturate(1) invert(0.48) sepia(0.19) saturate(9.99) hue-rotate(148deg) brightness(1.01) contrast(0.88);" />
                    </div>
                    <div style="margin-left:15px;">
                        <div style="color:rgb(1, 1, 1);font-size:14px;font-weight:700;">Marianne</div>
                        <div style="color:rgb(106, 106, 106);font-size:12px;font-weight:400;margin-top:8px;">29 dec 2025 om 08:06</div>
                    </div>
                </div>
                <div style="display:flex;align-items:flex-start;margin-top:17px;">
                    <div style="border-radius:10px;background-color:rgb(247, 247, 247);padding:8px 20px;margin-right:10px;">
                        <div style="margin-bottom:16px;">
                            <p style="color:rgb(1, 1, 1);font-size:16px;font-weight:400;line-height:24px;margin:0;">
                               We zijn ongeveer 6 weken geleden met de snacks begonnen en hebben vandaag opnieuw besteld! Onze rottweilerdame eet ze graag, maar ik moet zeggen dat het ongeveer 3-4 weken duurde voordat we echt verbetering konden zien. Inmiddels springt ze weer uit zichzelf op de bank en maakt ze een veel fittere indruk als we gaan wandelen. Vroeger deed ze dat helemaal niet en bleef ze alleen maar in haar warme mand liggen... we zijn superblij dat we het geprobeerd hebben.
                            </p>
                        </div>
                    </div>
                    <a rel="nofollow" href="#comment-0" style="min-width:40px;height:40px;border-radius:100%;background-color:rgb(247, 247, 247);position:relative;transition:0.5s;text-decoration:none;color:rgb(0, 0, 0);">
                        <img width="14" height="12" src="https://healthinsider.news/app/themes/Health-Insider/images/back.svg" alt="back-arrow" style="position:absolute;top:20px;left:20px;transform:translate(-7px,-6px);transition:0.3s;" />
                    </a>
                </div>
            </div>
        </li>

        <!-- Korte comment 2 -->
        <li data-depth="1" style="border-bottom:1px solid rgb(239, 239, 239);padding-bottom:20px;margin-bottom:20px;margin:0px 0px 20px;padding:0px 0px 20px;box-sizing:border-box;font-family:Inter, sans-serif;">
            <div>
                <div style="display:flex;align-items:flex-start;">
                    <div style="width:40px;height:40px;background-color:rgb(117, 192, 213);border-radius:100%;position:relative;">
                        <img width="18" height="20" src="https://healthinsider.news/app/themes/Health-Insider/images/avatar.svg" alt="avatar" style="position:absolute;top:20px;left:20px;transform:translate(-9px,-10px);filter:brightness(0) saturate(1) invert(0.48) sepia(0.19) saturate(9.99) hue-rotate(148deg) brightness(1.01) contrast(0.88);" />
                    </div>
                    <div style="margin-left:15px;">
                        <div style="color:rgb(1, 1, 1);font-size:14px;font-weight:700;">Tom</div>
                        <div style="color:rgb(106, 106, 106);font-size:12px;font-weight:400;margin-top:8px;">1 feb 2026 om 19:12</div>
                    </div>
                </div>
                <div style="display:flex;align-items:flex-start;margin-top:17px;">
                    <div style="border-radius:10px;background-color:rgb(247, 247, 247);padding:8px 20px;margin-right:10px;">
                        <div style="margin-bottom:16px;">
                            <p style="color:rgb(1, 1, 1);font-size:16px;font-weight:400;line-height:24px;margin:0;">
                                Dit moet ik proberen voor onze oude labrador!
                            </p>
                        </div>
                    </div>
                    <a rel="nofollow" href="#comment-0-2" style="min-width:40px;height:40px;border-radius:100%;background-color:rgb(247, 247, 247);position:relative;transition:0.5s;text-decoration:none;color:rgb(0, 0, 0);">
                        <img width="14" height="12" src="https://healthinsider.news/app/themes/Health-Insider/images/back.svg" alt="back-arrow" style="position:absolute;top:20px;left:20px;transform:translate(-7px,-6px);transition:0.3s;" />
                    </a>
                </div>
            </div>
        </li>

        <!-- Korte comment 3 -->
        <li data-depth="1" style="border-bottom:1px solid rgb(239, 239, 239);padding-bottom:20px;margin-bottom:20px;margin:0px 0px 20px;padding:0px 0px 20px;box-sizing:border-box;font-family:Inter, sans-serif;">
            <div>
                <div style="display:flex;align-items:flex-start;">
                    <div style="width:40px;height:40px;background-color:rgb(117, 192, 213);border-radius:100%;position:relative;">
                        <img width="18" height="20" src="https://healthinsider.news/app/themes/Health-Insider/images/avatar.svg" alt="avatar" style="position:absolute;top:20px;left:20px;transform:translate(-9px,-10px);filter:brightness(0) saturate(1) invert(0.48) sepia(0.19) saturate(9.99) hue-rotate(148deg) brightness(1.01) contrast(0.88);" />
                    </div>
                    <div style="margin-left:15px;">
                        <div style="color:rgb(1, 1, 1);font-size:14px;font-weight:700;">Els</div>
                        <div style="color:rgb(106, 106, 106);font-size:12px;font-weight:400;margin-top:8px;">29 nov 2025 om 06:08</div>
                    </div>
                </div>
                <div style="display:flex;align-items:flex-start;margin-top:17px;">
                    <div style="border-radius:10px;background-color:rgb(247, 247, 247);padding:8px 20px;margin-right:10px;">
                        <div style="margin-bottom:16px;">
                            <p style="color:rgb(1, 1, 1);font-size:16px;font-weight:400;line-height:24px;margin:0;">
                                Ik ga het uitproberen, hopelijk geeft het haar gewrichten wat verlichting.
                            </p>
                        </div>
                    </div>
                    <a rel="nofollow" href="#comment-0-3" style="min-width:40px;height:40px;border-radius:100%;background-color:rgb(247, 247, 247);position:relative;transition:0.5s;text-decoration:none;color:rgb(0, 0, 0);">
                        <img width="14" height="12" src="https://healthinsider.news/app/themes/Health-Insider/images/back.svg" alt="back-arrow" style="position:absolute;top:20px;left:20px;transform:translate(-7px,-6px);transition:0.3s;" />
                    </a>
                </div>
            </div>
        </li>

        <!-- Grote review 1 -->
        <li data-depth="1" style="border-bottom:1px solid rgb(239, 239, 239);padding-bottom:20px;margin-bottom:20px;margin:0px 0px 20px;padding:0px 0px 20px;box-sizing:border-box;font-family:Inter, sans-serif;">
            <div>
                <div style="display:flex;align-items:flex-start;">
                    <div style="width:40px;height:40px;background-color:rgb(117, 192, 213);border-radius:100%;position:relative;">
                        <img width="18" height="20" src="https://healthinsider.news/app/themes/Health-Insider/images/avatar.svg" alt="avatar" style="position:absolute;top:20px;left:20px;transform:translate(-9px,-10px);filter:brightness(0) saturate(1) invert(0.48) sepia(0.19) saturate(9.99) hue-rotate(148deg) brightness(1.01) contrast(0.88);" />
                    </div>
                    <div style="margin-left:15px;">
                        <div style="color:rgb(1, 1, 1);font-size:14px;font-weight:700;">Sandra &amp; Bram</div>
                        <div style="color:rgb(106, 106, 106);font-size:12px;font-weight:400;margin-top:8px;">24 Januari 2026 om 18:06</div>
                    </div>
                </div>
                <div style="display:flex;align-items:flex-start;margin-top:17px;">
                    <div style="border-radius:10px;background-color:rgb(247, 247, 247);padding:8px 20px;margin-right:10px;">
                        <div style="margin-bottom:16px;">
                            <p style="color:rgb(1, 1, 1);font-size:16px;font-weight:400;line-height:24px;margin:0;">
Kan het iedereen aanbevelen... mijn honden doen het weer goed. De artrose maakte het lopen erg moeilijk, maar ze zijn nu veel levendiger en genieten weer van hun rondjes!                            </p>
                        </div>
                    </div>
                    <a rel="nofollow" href="#comment-1" style="min-width:40px;height:40px;border-radius:100%;background-color:rgb(247, 247, 247);position:relative;transition:0.5s;text-decoration:none;color:rgb(0, 0, 0);">
                        <img width="14" height="12" src="https://healthinsider.news/app/themes/Health-Insider/images/back.svg" alt="back-arrow" style="position:absolute;top:20px;left:20px;transform:translate(-7px,-6px);transition:0.3s;" />
                    </a>
                </div>
            </div>
        </li>

        <!-- Review 2 -->
        <li data-depth="1" style="border-bottom:1px solid rgb(239, 239, 239);padding-bottom:20px;margin-bottom:20px;margin:0px 0px 20px;padding:0px 0px 20px;box-sizing:border-box;font-family:Inter, sans-serif;">
            <div>
                <div style="display:flex;align-items:flex-start;">
                    <div style="width:40px;height:40px;background-color:rgb(117, 192, 213);border-radius:100%;position:relative;">
                        <img width="18" height="20" src="https://healthinsider.news/app/themes/Health-Insider/images/avatar.svg" alt="avatar" style="position:absolute;top:20px;left:20px;transform:translate(-9px,-10px);filter:brightness(0) saturate(1) invert(0.48) sepia(0.19) saturate(9.99) hue-rotate(148deg) brightness(1.01) contrast(0.88);" />
                    </div>
                    <div style="margin-left:15px;">
                        <div style="color:rgb(1, 1, 1);font-size:14px;font-weight:700;">Peter J.</div>
                        <div style="color:rgb(106, 106, 106);font-size:12px;font-weight:400;margin-top:8px;">22 nov 2025 om 11:07</div>
                    </div>
                </div>
                <div style="display:flex;align-items:flex-start;margin-top:17px;">
                    <div style="border-radius:10px;background-color:rgb(247, 247, 247);padding:8px 20px;margin-right:10px;">
                        <div style="margin-bottom:16px;">
                            <p style="color:rgb(1, 1, 1);font-size:16px;font-weight:400;line-height:24px;margin:0;">
                                Onze herder van 9 jaar stond ’s ochtends altijd moeilijk op. Nu krijgt hij elke dag 2 snacks bij zijn ontbijt en binnen een paar dagen zagen we verschil. Hij loopt soepeler en struikelt veel minder op de trap.
                            </p>
                        </div>
                    </div>
                    <a rel="nofollow" href="#comment-2" style="min-width:40px;height:40px;border-radius:100%;background-color:rgb(247, 247, 247);position:relative;transition:0.5s;text-decoration:none;color:rgb(0, 0, 0);">
                        <img width="14" height="12" src="https://healthinsider.news/app/themes/Health-Insider/images/back.svg" alt="back-arrow" style="position:absolute;top:20px;left:20px;transform:translate(-7px,-6px);transition:0.3s;" />
                    </a>
                </div>
            </div>
        </li>

    </ol>

    <div data-id="196184" data-offset="5" data-total="11" style="color:rgb(42, 144, 167);font-size:14px;font-weight:500;cursor:pointer;transition:0.5s;margin:0px;padding:0px;box-sizing:border-box;font-family:Inter, sans-serif;">
        Meer reacties bekijken (6)
    </div>
</div>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-615145399560307549 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/e267df-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=615145399560176477&sectionId=615145399560307549)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}