
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-591495073510720141.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-591495073510720141.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-591495073510720141.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-591495073510720141.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-591495073510720141.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-591495073510720141.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-591495073510720141.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-591495073510720141.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-591495073510720141.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-591495073510720141.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-591495073510720141.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-591495073510720141.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-591495073510720141.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-591495073510720141.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-591495073510720141.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-591495073510720141.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-591495073510720141.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-591495073510720141.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-591495073510720141.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-591495073510720141.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-591495073510720141.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-591495073510720141.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-591495073510720141.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-591495073510720141.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-591495073510720141.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-591495073510720141.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-591495073510720141.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-591495073510720141.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-591495073510720141.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-591495073510720141.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-591495073510720141.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-591495073510720141.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-591495073510720141.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-591495073510720141.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-591495073510720141.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-591495073510720141.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-591495073510720141.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-591495073510720141.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-591495073510720141.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-591495073510720141.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-591495073510720141.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-591495073510720141.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-591495073510720141.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-591495073510720141.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-591495073510720141.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-591495073510720141.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-591495073510720141.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-591495073510720141.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-591495073510720141.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-591495073510720141.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-591495073510720141.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-591495073510720141.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-591495073510720141.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-591495073510720141.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-591495073510720141.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-591495073510720141.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-591495073510720141.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-591495073510720141.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-591495073510720141.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-591495073510720141.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-591495073510720141.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-591495073510720141.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-591495073510720141.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-591495073510720141.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-591495073510720141 .gp-relative{position:relative}.gps-591495073510720141 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-591495073510720141 .gp-mb-0{margin-bottom:0}.gps-591495073510720141 .gp-flex{display:flex}.gps-591495073510720141 .gp-inline-flex{display:inline-flex}.gps-591495073510720141 .gp-grid{display:grid}.gps-591495073510720141 .\!gp-hidden{display:none!important}.gps-591495073510720141 .gp-hidden{display:none}.gps-591495073510720141 .gp-h-full{height:100%}.gps-591495073510720141 .gp-max-w-full{max-width:100%}.gps-591495073510720141 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-591495073510720141 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-591495073510720141 .gp-flex-col{flex-direction:column}.gps-591495073510720141 .gp-items-center{align-items:center}.gps-591495073510720141 .gp-justify-center{justify-content:center}.gps-591495073510720141 .gp-overflow-hidden{overflow:hidden}.gps-591495073510720141 .gp-break-words{overflow-wrap:break-word}.gps-591495073510720141 .gp-text-center{text-align:center}.gps-591495073510720141 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-591495073510720141 .gp-no-underline{text-decoration-line:none}.gps-591495073510720141 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591495073510720141 .gp-duration-200{transition-duration:.2s}.gps-591495073510720141 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591495073510720141 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-591495073510720141 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-591495073510720141 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-591495073510720141 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-591495073510720141 .tablet\:\!gp-hidden{display:none!important}.gps-591495073510720141 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-591495073510720141 .mobile\:\!gp-hidden{display:none!important}.gps-591495073510720141 .mobile\:gp-hidden{display:none}}.gps-591495073510720141 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-591495073510720141 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuDyYMZg.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 254, 254)","type":"color"}},"uid":"i2l0fe76f0560"}' data-id="i2l0fe76f0560" id="i2l0fe76f0560" data-same-height-subgrid-container class="i2l0fe76f0560 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:30px;--pl-mobile:0px;--pb-mobile:200px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 254, 254);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-w-i2l0fe76f0560 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"w-i2l0fe76f0560"}' data-id="w-i2l0fe76f0560" id="w-i2l0fe76f0560" data-same-height-subgrid-container class="w-i2l0fe76f0560 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2la2fe70a3f9 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gITA4Uosgo gp-custom-code">
      <div>
    <section class="pc-timeline" aria-label="Tijdlijn met resultaten">
  <div class="pc-timeline__wrap">

    <h2 class="pc-timeline__title">
      Bewezen resultaat: minder pijn &amp; betere mobiliteit na 2–4 weken dagelijks gebruik
    </h2>
    <p class="pc-timeline__subtitle">
      Honderden baasjes rapporteren merkbare verlichting binnen weken. Dit is wat je gemiddeld kunt verwachten bij consequent dagelijks gebruik.
    </p>

    <!-- Optional band -->
    <div class="pc-timeline__band" role="note" aria-label="Garanties en tip">
      <svg viewBox="0 0 24 24" fill="none" aria-hidden="true">
        <path d="M12 2l3 3 4 1-1 4 3 3-3 3 1 4-4 1-3 3-3-3-4-1 1-4-3-3 3-3-1-4 4-1 3-3z" stroke="white" stroke-width="1.4"/>
        <path d="M9 12l2 2 4-4" stroke="#c5f954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <div><b>Tip:</b> geef de snack dagelijks op een vast moment en combineer met rustig bewegen voor optimale resultaten.</div>
    </div>

    <div class="pc-timeline__list">
      <!-- Item 1 -->
      <article class="pc-timeline__item">
        <span class="pc-strip" aria-hidden="true"></span>
        <div class="pc-timeline__badge" aria-label="Week 1 tot 2">
          <svg viewBox="0 0 24 24" fill="none" aria-hidden="true">
            <circle cx="12" cy="12" r="9" stroke="white" stroke-width="1.6" opacity=".9"/>
            <path d="M12 7v5l3 2" stroke="#c5f954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Week 1–2
        </div>
        <div class="pc-timeline__content">
          <h3 class="pc-timeline__heading">Ontstekingen verminderen</h3>
          <p class="pc-timeline__text">
            MSM en hyaluronzuur starten met het kalmeren van ontstekingen. Je hond voelt minder stijfheid, vooral ’s ochtends.
          </p>
        </div>
      </article>

      <!-- Item 2 -->
      <article class="pc-timeline__item">
        <span class="pc-strip" aria-hidden="true"></span>
        <div class="pc-timeline__badge" aria-label="Week 2 tot 3">
          <svg viewBox="0 0 24 24" fill="none" aria-hidden="true">
            <circle cx="12" cy="12" r="9" stroke="white" stroke-width="1.6" opacity=".9"/>
            <path d="M12 7v5l3 2" stroke="#c5f954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Week 2–3
        </div>
        <div class="pc-timeline__content">
          <h3 class="pc-timeline__heading">Kraakbeen begint te herstellen</h3>
          <p class="pc-timeline__text">
            Glucosamine en chondroïtine bereiken de gewrichten en ondersteunen herstel van aangetast kraakbeen. Beweging voelt comfortabeler.
          </p>
        </div>
      </article>

      <!-- Item 3 -->
      <article class="pc-timeline__item">
        <span class="pc-strip" aria-hidden="true"></span>
        <div class="pc-timeline__badge" aria-label="Week 4 tot 6">
          <svg viewBox="0 0 24 24" fill="none" aria-hidden="true">
            <circle cx="12" cy="12" r="9" stroke="white" stroke-width="1.6" opacity=".9"/>
            <path d="M12 7v5l3 2" stroke="#c5f954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Week 4–6
        </div>
        <div class="pc-timeline__content">
          <h3 class="pc-timeline__heading">Zichtbare verbetering</h3>
          <p class="pc-timeline__text">
            Je hond beweegt soepeler, speelt weer en heeft duidelijk minder pijn. Dit is vaak het moment dat baasjes zeggen: “Hij rent weer!”
          </p>
        </div>
      </article>

      <!-- Item 4 -->
      <article class="pc-timeline__item">
        <span class="pc-strip" aria-hidden="true"></span>
        <div class="pc-timeline__badge" aria-label="Week 8 of langer">
          <svg viewBox="0 0 24 24" fill="none" aria-hidden="true">
            <circle cx="12" cy="12" r="9" stroke="white" stroke-width="1.6" opacity=".9"/>
            <path d="M12 7v5l3 2" stroke="#c5f954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Week 8+
        </div>
        <div class="pc-timeline__content">
          <h3 class="pc-timeline__heading">Blijvend herstel</h3>
          <p class="pc-timeline__text">
            De gewrichten zijn gezonder, sterker en beter gesmeerd. Je hond beweegt als een jongere versie van zichzelf.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
    </div>
    </div>
  
      <style id="custom-css-gITA4Uosgo">
        /* ==== PetCura Timeline (scoped) ==== */
.pc-timeline {
  --pc-primary: #18443d;   /* Donkergroen */
  --pc-accent:  #c5f954;   /* Limegroen */
  --pc-ink:     #2d3748;   /* Tekst */
  --pc-sub:     #4a5568;   /* Subtekst */
  --pc-bg:      #ffffff;
  --pc-soft:    #f4f7f5;   /* Lichte achtergrond */
  --pc-shadow:  0 6px 18px rgba(0,0,0,0.08);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: var(--pc-ink);
}

.pc-timeline__wrap {
  max-width: 980px;
  margin: 0 auto;
  padding: 56px 20px;
}

/* ===== Headline & Subtitle final styling ===== */
.pc-timeline__title {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
  font-size: 26px !important;
  font-weight: 700 !important;
  color: #000000 !important;
  text-align: center !important;
  line-height: 1.3 !important;
  letter-spacing: -0.2px;
  margin: 0 auto 22px !important;
  max-width: 900px;
}

.pc-timeline__subtitle {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  color: #4a4a4a !important;
  text-align: center !important;
  line-height: 1.55 !important;
  max-width: 760px;
  margin: 0 auto 28px !important;
}

/* List container */
.pc-timeline__list {
  display: grid;
  gap: 18px;
}

/* === MOBILE-FIRST LAYOUT (1 kolom) === */
.pc-timeline__item {
  position: relative;
  background: var(--pc-bg);
  border-radius: 14px;
  box-shadow: var(--pc-shadow);
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 56px;
  transition: transform .18s ease, box-shadow .18s ease;
}

.pc-timeline__item:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 26px rgba(0,0,0,.12);
}

/* Rail: dot + connector */
.pc-timeline__item::before {
  content: "";
  position: absolute;
  left: 22px;
  top: 22px;
  width: 10px; height: 10px;
  background: var(--pc-accent);
  border: 2px solid var(--pc-primary);
  border-radius: 50%;
  box-shadow: 0 0 0 6px rgba(197, 249, 84, .25);
}
.pc-timeline__item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 26px;
  top: 42px;
  bottom: -18px;
  width: 2px;
  background: linear-gradient(180deg, var(--pc-primary) 0%, rgba(24,68,61,.2) 100%);
  opacity: .35;
}

/* Badge */
.pc-timeline__badge {
  align-self: flex-start;
  background: var(--pc-primary);
  color: #fff;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: 700;
  font-size: .95rem;
  letter-spacing: .2px;
  line-height: 1;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.12);
}
.pc-timeline__badge svg {
  width: 16px; height: 16px; display: block;
}

/* Content */
.pc-timeline__content {
  padding-left: 0;
}
.pc-timeline__heading {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
  font-size: 18px !important;
  font-weight: 550 !important;
  color: #000000 !important;
  margin: 0 0 6px !important;
  line-height: 1.4 !important;
}
.pc-timeline__text {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #333333 !important;
  line-height: 1.7 !important;
  margin: 0 !important;
}

/* Accent strip boven elk blok */
.pc-strip {
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: 14px;
  background: linear-gradient(90deg, rgba(197,249,84,.22), rgba(197,249,84,0)) 0 0 / 100% 6px no-repeat;
  -webkit-mask:
    linear-gradient(#000 0 0) top / 100% 6px no-repeat,
    linear-gradient(#000 0 0);
          mask:
    linear-gradient(#000 0 0) top / 100% 6px no-repeat,
    linear-gradient(#000 0 0);
}

/* Tip-band */
.pc-timeline__band {
  background: linear-gradient(135deg, var(--pc-primary), #1f5a50);
  color: #fff;
  border-radius: 16px;
  padding: 20px 22px;
  margin: 0 0 18px;
  display: flex;
  align-items: center;
  gap: 14px;
  box-shadow: var(--pc-shadow);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  font-size: 15px !important;
}
.pc-timeline__band svg { width: 24px; height: 24px; flex: 0 0 24px; }
.pc-timeline__band b { color: #fff; }

/* === DESKTOP ≥ 760px (2 kolommen) === */
@media (min-width: 760px) {
  .pc-timeline__item {
    display: grid;
    grid-template-columns: 140px 1fr;
    align-items: start;
    gap: 0;
    padding-left: 22px;
  }
  .pc-timeline__content { padding-left: 10px; }

  .pc-timeline__item::before { left: 13px; top: 26px; }
  .pc-timeline__item:not(:last-child)::after {
    left: 17px; top: 46px; bottom: -18px;
  }

  .pc-timeline__badge { justify-self: start; }
}

/* === MOBILE RESPONSIVE FIXES === */
@media (max-width: 759px) {
  .pc-timeline__wrap { padding: 32px 16px !important; }
  .pc-timeline__title { font-size: 22px !important; margin-bottom: 12px !important; }
  .pc-timeline__subtitle { font-size: 14px !important; margin-bottom: 20px !important; }
  .pc-timeline__band { border-radius: 12px !important; padding: 14px 16px !important; }
  .pc-timeline__heading { font-size: 17px !important; }
  .pc-timeline__text { font-size: 14px !important; }
}

      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#gXGjp13mOQ","target":"_self","title":"Section 9","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--mb-tablet:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gj7vSO3ZkC"].gp-button-base::before, [data-id="gj7vSO3ZkC-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="gj7vSO3ZkC"]:hover::before, [data-id="gj7vSO3ZkC-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gXGjp13mOQ
            target=_self
          ></a>
        <a
          data-id="gj7vSO3ZkC" dataId="gj7vSO3ZkC" data-state="idle" aria-label="<p>Verder lezen</p>"
          
          href="#gXGjp13mOQ" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:100px;--pr:100px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--bgi:;--bg:#33B249;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="gj7vSO3ZkC gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggj7vSO3ZkC_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-591495073510720141 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=591494857504064141&sectionId=591495073510720141)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggj7vSO3ZkC_label","label":"ggj7vSO3ZkC_label","default":"<p>Verder lezen</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}