
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-590465732739990157.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-590465732739990157.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-590465732739990157.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-590465732739990157.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-590465732739990157.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-590465732739990157.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-590465732739990157.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-590465732739990157.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-590465732739990157.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-590465732739990157.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-590465732739990157.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-590465732739990157.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-590465732739990157.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-590465732739990157.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-590465732739990157.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-590465732739990157.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-590465732739990157.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-590465732739990157.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-590465732739990157.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-590465732739990157.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-590465732739990157.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-590465732739990157.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-590465732739990157.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-590465732739990157.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-590465732739990157.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-590465732739990157.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-590465732739990157.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-590465732739990157.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-590465732739990157.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-590465732739990157.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-590465732739990157.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-590465732739990157.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-590465732739990157.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-590465732739990157.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-590465732739990157.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-590465732739990157.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-590465732739990157.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-590465732739990157.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-590465732739990157.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-590465732739990157.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-590465732739990157.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-590465732739990157.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-590465732739990157.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-590465732739990157.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-590465732739990157.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-590465732739990157.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-590465732739990157.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-590465732739990157.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-590465732739990157.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-590465732739990157.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-590465732739990157.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-590465732739990157.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-590465732739990157.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-590465732739990157.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-590465732739990157.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-590465732739990157.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-590465732739990157.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-590465732739990157.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-590465732739990157.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-590465732739990157.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-590465732739990157.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-590465732739990157.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-590465732739990157.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-590465732739990157.gps.gpsil [style*="--z-tablet:"]{z-index:var(--z-tablet)}}@media only screen and (max-width:767px){.gps-590465732739990157.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-590465732739990157.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-590465732739990157.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-590465732739990157.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-590465732739990157.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-590465732739990157.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-590465732739990157.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-590465732739990157 .gp-relative{position:relative}.gps-590465732739990157 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-590465732739990157 .gp-mb-0{margin-bottom:0}.gps-590465732739990157 .gp-flex{display:flex}.gps-590465732739990157 .gp-inline-flex{display:inline-flex}.gps-590465732739990157 .gp-grid{display:grid}.gps-590465732739990157 .\!gp-hidden{display:none!important}.gps-590465732739990157 .gp-hidden{display:none}.gps-590465732739990157 .gp-h-full{height:100%}.gps-590465732739990157 .gp-max-w-full{max-width:100%}.gps-590465732739990157 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-590465732739990157 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-590465732739990157 .gp-flex-col{flex-direction:column}.gps-590465732739990157 .gp-items-center{align-items:center}.gps-590465732739990157 .gp-justify-center{justify-content:center}.gps-590465732739990157 .gp-overflow-hidden{overflow:hidden}.gps-590465732739990157 .gp-break-words{overflow-wrap:break-word}.gps-590465732739990157 .gp-text-center{text-align:center}.gps-590465732739990157 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-590465732739990157 .gp-no-underline{text-decoration-line:none}.gps-590465732739990157 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590465732739990157 .gp-duration-200{transition-duration:.2s}.gps-590465732739990157 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590465732739990157 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-590465732739990157 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-590465732739990157 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-590465732739990157 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-590465732739990157 .tablet\:\!gp-hidden{display:none!important}.gps-590465732739990157 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-590465732739990157 .mobile\:\!gp-hidden{display:none!important}.gps-590465732739990157 .mobile\:gp-hidden{display:none}}.gps-590465732739990157 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-590465732739990157 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--bottom-tablet:0px;--pos-tablet:fixed;--z-tablet:9;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gXQF2Z4Rxa"}' data-id="gXQF2Z4Rxa" id="gXQF2Z4Rxa" data-same-height-subgrid-container class="gXQF2Z4Rxa gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:15px;--pb:0px;--pr:15px;--pt-tablet:var(--g-s-xs);--pl-tablet:15px;--pb-tablet:var(--g-s-xs);--pr-tablet:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9lbKp56-6 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"/products/gewrichtssnacks","selectedTab":"products","target":"_self","title":"Heup- en gewrichtssnacks"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left" >
        <style>[data-id="gWARpHJd7H"].gp-button-base::before, [data-id="gWARpHJd7H-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  
    }
  
      
  [data-id="gWARpHJd7H"]:hover::before, [data-id="gWARpHJd7H-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gWARpHJd7H" dataId="gWARpHJd7H" data-state="idle" aria-label="<p>BESTEL NU MET 50% KORTING</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/gewrichtssnacks" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--hvr-bblr:40px;--hvr-bbrr:40px;--hvr-btlr:40px;--hvr-btrr:40px;--shadow:-0.06980962574913391px 3.999390780625565px 8px 0px rgba(0, 0, 0, 0.25);--bgi:;--hvr-bgi:;--hvr-bg:#246B60;--bg:#17443D;--size:19px;--lh:130%;--fs:normal;--weight:700;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px"
          class="gWARpHJd7H gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-bg-3 undefined"
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--size:19px;--lh:130%;--fs:normal;--weight:700;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggWARpHJd7H_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-590465732739990157 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=590465731649340045&sectionId=590465732739990157)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggWARpHJd7H_label","label":"ggWARpHJd7H_label","default":"<p>BESTEL NU MET 50% KORTING</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}