
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-590465732739924621.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-590465732739924621.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-590465732739924621.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-590465732739924621.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-590465732739924621.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-590465732739924621.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-590465732739924621.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-590465732739924621.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-590465732739924621.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-590465732739924621.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-590465732739924621.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-590465732739924621.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-590465732739924621.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-590465732739924621.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-590465732739924621.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-590465732739924621.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-590465732739924621.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-590465732739924621.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-590465732739924621.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-590465732739924621.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-590465732739924621.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-590465732739924621.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-590465732739924621.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-590465732739924621.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-590465732739924621.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-590465732739924621.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-590465732739924621.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-590465732739924621.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-590465732739924621.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-590465732739924621.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-590465732739924621.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-590465732739924621.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-590465732739924621.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-590465732739924621.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-590465732739924621.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-590465732739924621.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-590465732739924621.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-590465732739924621.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-590465732739924621.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-590465732739924621.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-590465732739924621.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-590465732739924621.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-590465732739924621.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-590465732739924621.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-590465732739924621.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-590465732739924621.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-590465732739924621.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-590465732739924621.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-590465732739924621.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-590465732739924621.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-590465732739924621.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-590465732739924621.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-590465732739924621.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-590465732739924621.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-590465732739924621.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-590465732739924621.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-590465732739924621.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-590465732739924621.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-590465732739924621.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-590465732739924621.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-590465732739924621.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-590465732739924621.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-590465732739924621.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-590465732739924621.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-590465732739924621.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-590465732739924621.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-590465732739924621.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-590465732739924621 .gp-relative{position:relative}.gps-590465732739924621 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-590465732739924621 .gp-mb-0{margin-bottom:0}.gps-590465732739924621 .gp-inline-block{display:inline-block}.gps-590465732739924621 .gp-flex{display:flex}.gps-590465732739924621 .gp-grid{display:grid}.gps-590465732739924621 .gp-contents{display:contents}.gps-590465732739924621 .\!gp-hidden{display:none!important}.gps-590465732739924621 .gp-hidden{display:none}.gps-590465732739924621 .gp-h-auto{height:auto}.gps-590465732739924621 .gp-h-full{height:100%}.gps-590465732739924621 .gp-w-full{width:100%}.gps-590465732739924621 .gp-max-w-full{max-width:100%}.gps-590465732739924621 .gp-flex-none{flex:none}.gps-590465732739924621 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-590465732739924621 .gp-flex-col{flex-direction:column}.gps-590465732739924621 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590465732739924621 .gp-duration-200{transition-duration:.2s}.gps-590465732739924621 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-590465732739924621 .tablet\:\!gp-hidden{display:none!important}.gps-590465732739924621 .tablet\:gp-hidden{display:none}.gps-590465732739924621 .tablet\:gp-h-auto{height:auto}.gps-590465732739924621 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-590465732739924621 .mobile\:\!gp-hidden{display:none!important}.gps-590465732739924621 .mobile\:gp-hidden{display:none}.gps-590465732739924621 .mobile\:gp-h-auto{height:auto}.gps-590465732739924621 .mobile\:gp-flex-none{flex:none}}.gps-590465732739924621 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gDUbBQ42TV"}' data-id="gDUbBQ42TV" id="gDUbBQ42TV" data-same-height-subgrid-container class="gDUbBQ42TV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:15px;--pb:0px;--pr:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--pl-tablet:15px;--pr-tablet:15px;--cg:62px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gG6Mnwuc5L gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gkG1bpkkpn"}' data-id="gkG1bpkkpn" id="gkG1bpkkpn" data-same-height-subgrid-container class="gkG1bpkkpn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-3xl);--mb-mobile:0px;--cg:62px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gKBhw959sM gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKMNtE-5Io"
        class="gKMNtE-5Io"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-3xl);--mb-tablet:var(--g-s-3xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763517652535"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKMNtE-5Io_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gdcqNqZaid gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gsPDVQI2EA"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763517652536 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gsPDVQI2EA"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_588234442166764118-647719cf-ed68-453c-8295-fdab0a007e17.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI1NzYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMjQtNTc2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDI0IiBoZWlnaHQ9IjU3NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI1NzYiIGZpbGw9InVybCgjZy0xMDI0LTU3NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMjQiIHRvPSIxMDI0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/92ed0e93-b79f-40dd-a238-8deb2d7feb0f/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTM5OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgZmlsbD0idXJsKCNnLTYxMi0zOTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://ucarecdn.com/92ed0e93-b79f-40dd-a238-8deb2d7feb0f/-/format/auto/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTM5OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgZmlsbD0idXJsKCNnLTYxMi0zOTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://ucarecdn.com/92ed0e93-b79f-40dd-a238-8deb2d7feb0f/-/format/auto/"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-590465732739924621 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=590465731649340045&sectionId=590465732739924621)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggKMNtE-5Io_text","label":"ggKMNtE-5Io_text","default":"<p><strong>✔️ 90 dagen niet-tevreden-geld-terug garantie</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}