
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604689244954297007.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604689244954297007.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604689244954297007.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604689244954297007.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604689244954297007.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604689244954297007.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604689244954297007.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604689244954297007.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604689244954297007.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604689244954297007.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604689244954297007.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604689244954297007.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604689244954297007.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-604689244954297007.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604689244954297007.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604689244954297007.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604689244954297007.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604689244954297007.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604689244954297007.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604689244954297007.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604689244954297007.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604689244954297007.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604689244954297007.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604689244954297007.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604689244954297007.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604689244954297007.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604689244954297007.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604689244954297007.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604689244954297007.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604689244954297007.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604689244954297007.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-604689244954297007.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604689244954297007.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604689244954297007.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-604689244954297007.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604689244954297007.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604689244954297007.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-604689244954297007.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604689244954297007.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604689244954297007.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604689244954297007.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604689244954297007.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-604689244954297007 .gp-relative{position:relative}.gps-604689244954297007 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604689244954297007 .gp-mb-0{margin-bottom:0}.gps-604689244954297007 .gp-flex{display:flex}.gps-604689244954297007 .gp-grid{display:grid}.gps-604689244954297007 .\!gp-hidden{display:none!important}.gps-604689244954297007 .gp-hidden{display:none}.gps-604689244954297007 .gp-max-w-full{max-width:100%}.gps-604689244954297007 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604689244954297007 .gp-flex-col{flex-direction:column}.gps-604689244954297007 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604689244954297007 .gp-duration-200{transition-duration:.2s}.gps-604689244954297007 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-604689244954297007 .tablet\:\!gp-hidden{display:none!important}.gps-604689244954297007 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-604689244954297007 .mobile\:\!gp-hidden{display:none!important}.gps-604689244954297007 .mobile\:gp-hidden{display:none}}.gps-604689244954297007 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gXpdi7-HDS"}' data-id="gXpdi7-HDS" id="gXpdi7-HDS" data-same-height-subgrid-container class="gXpdi7-HDS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-m);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-m);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gox76-rXWp gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gQjchlvNZN gp-custom-code">
      <div>
    <div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_3.jpg?v=1764553669" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Joke van Veen We zijn ongeveer 6 weken geleden met de snacks begonnen en hebben vandaag opnieuw besteld! Onze rottweilerdame eet ze graag, maar ik moet zeggen dat het ongeveer 3-4 weken duurde voordat we echt verbetering konden zien. Inmiddels springt ze weer uit zichzelf op de bank en maakt ze een veel fittere indruk als we gaan wandelen. Vroeger deed ze dat helemaal niet en bleef ze alleen maar in haar warme mand liggen... we zijn superblij dat we het geprobeerd hebben. </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;"> 4 Reacties · gisteren</small>
            </div>
        </div>
    </div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_8.jpg?v=1764553669" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Anja van der Meer Kan het iedereen aanbevelen... mijn honden doen het weer goed. De artrose maakte het lopen erg moeilijk, maar ze zijn nu veel levendiger en genieten weer van hun rondjes! </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;"> 1 Reactie · 1 week geleden</small>
            </div>
        </div>
    </div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_7.jpg?v=1764553669" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Carla de Jong Ik was eerst erg sceptisch (net als bij zoveel van dit soort middelen), maar na de derde week verbeterde zijn toestand aanzienlijk. Hij heeft veel minder last van stijfheid door de artrose. Ik kan de snacks daarom met een gerust hart aanbevelen. Ik ga ze meteen weer bestellen. </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;"> 3 Reacties · 2 weken geleden</small>
            </div>
        </div>
    </div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_5.jpg?v=1764553669" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Ingrid de Vries Ik kan het bevestigen, absoluut behulpzaam en ook de prijs meer dan waard!!! Bij ons bijna 14 jaar oude vrouwtje waren de successen al na de eerste week zichtbaar. Ben er gewoon blij mee. De artrose in haar heupen hinderde haar enorm, maar ze staat nu veel vlotter op. </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">gisteren · bewerkt</small>
            </div>
        </div>
    </div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_4.jpg?v=1764553669" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Gemma Jansen Ik heb het gekocht... zelf opnieuw besteld... is een wondermiddel............................. Onze oude Labrador had zoveel last van artrose, maar met deze snacks huppelt hij weer mee met de jongere honden. </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;"> 2 Reacties · 1 week geleden</small>
            </div>
        </div>
    </div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_6.jpg?v=1764553669" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Claudia van Loon Mijn hond is dol op de kleine botjes en ze werken echt, heb net een navulling besteld. De artrose maakte de lange wandelingen moeilijk, maar ze heeft nu veel meer uithoudingsvermogen. </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;"> 13 Reacties · 2 weken geleden · bewerkt</small>
            </div>
        </div>
    </div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download.jpg?v=1764553671" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Andrea Vermeulen Onze mengelmoes poes is erg kieskeurig (u weet wel hoe katten zijn met pilletjes!). We hebben alle medicijnen tegen artritis al geprobeerd. Dit zijn de eerste die ze graag eet en - ze wandelt uitstekend met deze traktaties! Haar artrose leek te verergeren, maar nu is ze veel actiever. </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;"> 1 Reactie · gisteren</small>
            </div>
        </div>
    </div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_1.jpg?v=1764553669" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Margot Visser Ik geef het nu ongeveer een week aan mijn hond. Het lijkt erop dat het loont. Hij loopt weer meer en ook sneller Ik weet dat hij na zijn 13.5 jaar langzamer kan gaan lopen, maar dat grote hinken liet me echt schrikken , en als het goed voor hem is om deze lekkernijen te eten (ondanks zijn artrose), dan krijgt hij ze ook!

        </p>
        <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">
                8 Reacties · 1 week geleden</small>
        </div>
    </div>
</div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_2.jpg?v=1764553668" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Andrea de Wit Een echte aanrader, zal het opnieuw bestellen! Het heeft onze grote hond (10 jaar en artrose) heel goed gedaan. Hij loopt weer als een jonge hond. De stijfheid 's ochtends is veel minder geworden! </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;"> 1 Reactie · 2 weken geleden</small>
            </div>
        </div>
    </div>
</div>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-604689244954297007 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=604685359434957487&sectionId=604689244954297007)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}