
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-600508203075502956.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-600508203075502956.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-600508203075502956.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-600508203075502956.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-600508203075502956.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-600508203075502956.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-600508203075502956.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-600508203075502956.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-600508203075502956.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-600508203075502956.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-600508203075502956.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-600508203075502956.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-600508203075502956.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-600508203075502956.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-600508203075502956.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-600508203075502956.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-600508203075502956.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-600508203075502956.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-600508203075502956.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-600508203075502956.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-600508203075502956.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-600508203075502956.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-600508203075502956.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-600508203075502956.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-600508203075502956.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-600508203075502956.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-600508203075502956.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-600508203075502956.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-600508203075502956.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-600508203075502956.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-600508203075502956.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-600508203075502956.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-600508203075502956.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-600508203075502956.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-600508203075502956.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-600508203075502956.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-600508203075502956.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-600508203075502956.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-600508203075502956.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-600508203075502956.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-600508203075502956.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-600508203075502956.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-600508203075502956.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-600508203075502956.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-600508203075502956.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-600508203075502956.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-600508203075502956.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-600508203075502956.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-600508203075502956.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-600508203075502956.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-600508203075502956.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-600508203075502956.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-600508203075502956.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-600508203075502956.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-600508203075502956.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-600508203075502956.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-600508203075502956.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-600508203075502956.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-600508203075502956.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-600508203075502956.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-600508203075502956.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-600508203075502956.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-600508203075502956.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-600508203075502956.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-600508203075502956.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-600508203075502956.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-600508203075502956.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-600508203075502956.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-600508203075502956.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-600508203075502956.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-600508203075502956.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-600508203075502956.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-600508203075502956 .gp-relative{position:relative}.gps-600508203075502956 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-600508203075502956 .gp-mb-0{margin-bottom:0}.gps-600508203075502956 .gp-flex{display:flex}.gps-600508203075502956 .gp-grid{display:grid}.gps-600508203075502956 .\!gp-hidden{display:none!important}.gps-600508203075502956 .gp-hidden{display:none}.gps-600508203075502956 .gp-max-w-full{max-width:100%}.gps-600508203075502956 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-600508203075502956 .gp-flex-col{flex-direction:column}.gps-600508203075502956 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-600508203075502956 .gp-duration-200{transition-duration:.2s}.gps-600508203075502956 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-600508203075502956 .tablet\:\!gp-hidden{display:none!important}.gps-600508203075502956 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-600508203075502956 .mobile\:\!gp-hidden{display:none!important}.gps-600508203075502956 .mobile\:gp-hidden{display:none}}.gps-600508203075502956 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4TPAghGTQ"}' data-id="g4TPAghGTQ" id="g4TPAghGTQ" data-same-height-subgrid-container class="g4TPAghGTQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ml-mobile:auto;--pt-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--ml-tablet:auto;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gonwMBGT5Z gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZ6K2q11zu"
        class="gZ6K2q11zu"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--pt:0px;--pl:100px;--pb:0px;--pr:100px;--ml-mobile:0px;--mb-mobile:0px;--pt-mobile:8px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:0px;--pt-tablet:0px;--pl-tablet:100px;--pb-tablet:0px;--pr-tablet:100px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:18px;--size-mobile:20px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#282828;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:30px;--pr:30px;--pt:16px;--pb:16px;--pl-tablet:30px;--pr-tablet:30px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZ6K2q11zu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-600508203075502956 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=600508202924114796&sectionId=600508203075502956)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggZ6K2q11zu_text","label":"ggZ6K2q11zu_text","default":"<p>Wat ik Max's baasje gaf was geen standaard gewrichtssupplement.</p><p>&nbsp;</p><p>Het was een formule die ik specifiek gebruik voor <span style=\"color:#000000;\"><strong>tussenwervelschijf-ondersteuning</strong></span><strong> - </strong>ontwikkeld voor exact die kritieke maanden waarin de schijf verzwakt is, maar nog niet gebarsten.</p><p>&nbsp;</p><p>En het verschil zit in vier zeer specifieke bouwstoffen die samen doen wat pijnstillers niet kunnen:</p><p>&nbsp;</p><p><span style=\"color:#000000;\"><strong>De schijf zelf versterken. Van binnenuit.</strong></span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}