
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-595062392028332732.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-595062392028332732.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-595062392028332732.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-595062392028332732.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-595062392028332732.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-595062392028332732.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-595062392028332732.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-595062392028332732.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-595062392028332732.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-595062392028332732.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-595062392028332732.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-595062392028332732.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-595062392028332732.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-595062392028332732.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-595062392028332732.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-595062392028332732.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-595062392028332732.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-595062392028332732.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-595062392028332732.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-595062392028332732.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-595062392028332732.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-595062392028332732.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-595062392028332732.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-595062392028332732.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-595062392028332732.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-595062392028332732.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-595062392028332732.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-595062392028332732.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-595062392028332732.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-595062392028332732.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-595062392028332732.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-595062392028332732.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-595062392028332732.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-595062392028332732.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-595062392028332732.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-595062392028332732.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-595062392028332732.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-595062392028332732.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-595062392028332732.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-595062392028332732.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-595062392028332732.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-595062392028332732.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-595062392028332732.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-595062392028332732.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-595062392028332732.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-595062392028332732.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-595062392028332732.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-595062392028332732.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-595062392028332732.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-595062392028332732.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-595062392028332732.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-595062392028332732.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-595062392028332732.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-595062392028332732.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-595062392028332732.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-595062392028332732.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-595062392028332732.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-595062392028332732.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-595062392028332732.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-595062392028332732 .gp-relative{position:relative}.gps-595062392028332732 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-595062392028332732 .gp-mb-0{margin-bottom:0}.gps-595062392028332732 .gp-flex{display:flex}.gps-595062392028332732 .gp-inline-flex{display:inline-flex}.gps-595062392028332732 .gp-grid{display:grid}.gps-595062392028332732 .\!gp-hidden{display:none!important}.gps-595062392028332732 .gp-hidden{display:none}.gps-595062392028332732 .gp-h-full{height:100%}.gps-595062392028332732 .gp-max-w-full{max-width:100%}.gps-595062392028332732 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-595062392028332732 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-595062392028332732 .gp-flex-col{flex-direction:column}.gps-595062392028332732 .gp-items-center{align-items:center}.gps-595062392028332732 .gp-justify-center{justify-content:center}.gps-595062392028332732 .gp-overflow-hidden{overflow:hidden}.gps-595062392028332732 .gp-break-words{overflow-wrap:break-word}.gps-595062392028332732 .gp-text-center{text-align:center}.gps-595062392028332732 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-595062392028332732 .gp-no-underline{text-decoration-line:none}.gps-595062392028332732 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-595062392028332732 .gp-duration-200{transition-duration:.2s}.gps-595062392028332732 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-595062392028332732 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-595062392028332732 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-595062392028332732 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-595062392028332732 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-595062392028332732 .tablet\:\!gp-hidden{display:none!important}.gps-595062392028332732 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-595062392028332732 .mobile\:\!gp-hidden{display:none!important}.gps-595062392028332732 .mobile\:gp-hidden{display:none}}.gps-595062392028332732 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-595062392028332732 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gXGjp13mOQ"}' data-id="gXGjp13mOQ" id="gXGjp13mOQ" data-same-height-subgrid-container class="gXGjp13mOQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:200px;--pr-mobile:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdeNxblrqb gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:var(--g-s-3xl);--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gW6HrVhs6E gp-custom-code">
      <div>
    <section class="pc-benefits-floating" aria-label="Waarom PetCura anders is">
  <div class="pcb-wrap">
    <h2 class="pcb-title">Waarom PetCura anders is</h2>

    <div class="pcb-grid">
      <article class="pcb-card">
        <div class="pcb-icon">
          <svg viewBox="0 0 24 24" fill="none">
            <path d="M12 3l7 3v6c0 5-3.5 7.5-7 9-3.5-1.5-7-4-7-9V6l7-3z" stroke="#c5f954" stroke-width="1.6"/>
            <path d="M8.5 12.5l2.2 2.2 4.8-4.8" stroke="#fff" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <h3>Betere opname</h3>
        <p>Tot 8× betere opname door gebruik van hyaluronzuur.</p>
      </article>

      <article class="pcb-card">
        <div class="pcb-icon">
          <svg viewBox="0 0 24 24" fill="none">
            <path d="M4 9a2.5 2.5 0 114-2h8a2.5 2.5 0 114 2v6a2.5 2.5 0 11-4 2H8a2.5 2.5 0 11-4-2V9z"
                  stroke="#c5f954" stroke-width="1.6" stroke-linecap="round"/>
          </svg>
        </div>
        <h3>Snack die helpt</h3>
        <p>Je hond ziet het als een beloning, geen pil.</p>
      </article>

      <article class="pcb-card">
        <div class="pcb-icon">
          <svg viewBox="0 0 24 24" fill="none">
            <path d="M19 5c-6 0-10 4-10 10 0 2 .5 3.5 1.5 4.5C12.5 16 16 12.5 21 11c-1-3-1.5-4-2-6z"
                  stroke="#c5f954" stroke-width="1.6" stroke-linecap="round"/>
            <path d="M6 19c2.5-4.5 6-7 11-8" stroke="#fff" stroke-width="1.6" stroke-linecap="round"/>
          </svg>
        </div>
        <h3>100% natuurlijk</h3>
        <p>Veilige ingrediënten, zonder bijwerkingen.</p>
      </article>

      <article class="pcb-card">
        <div class="pcb-icon">
          <svg viewBox="0 0 24 24" fill="none">
            <path d="M3 20h18M5 20V8l4 2 4-2 6 3v9" stroke="#c5f954" stroke-width="1.6" stroke-linecap="round"/>
            <path d="M8 14h2m2 0h2m2 0h2" stroke="#fff" stroke-width="1.6" stroke-linecap="round"/>
          </svg>
        </div>
        <h3>Gemaakt in Europa</h3>
        <p>Ontwikkeld volgens de strengste EU-normen.</p>
      </article>
    </div>
  </div>
</section>
    </div>
    </div>
  
      <style id="custom-css-gW6HrVhs6E">
        .pc-benefits-floating {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #1b1b1b;
  padding: 50px 16px;
  background: #fff;
}

.pcb-wrap {
  max-width: 960px;
  margin: 0 auto;
}

.pcb-title {
  text-align: center !important;
  font-family: 'Inter', sans-serif !important;
  font-size: 26px !important;
  font-weight: 700 !important;
  color: #000 !important;
  margin-bottom: 40px !important;
  line-height: 1.3 !important;
  letter-spacing: -0.2px;
}

/* === GRID: Altijd 2 kolommen, compacter === */
.pcb-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 18px; /* kleinere horizontale en verticale ruimte */
}

/* Blijft 2 kolommen op mobiel */
@media (max-width: 600px) {
  .pcb-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 14px;
  }

  /* Belangrijk: titel behouden op mobiel */
  .pcb-title {
    font-family: 'Inter', sans-serif !important;
    font-size: 26px !important;
    font-weight: 700 !important;
    color: #000 !important;
    text-align: center !important;
    line-height: 1.3 !important;
    margin-bottom: 36px !important;
  }
}

/* === Card Styling === */
.pcb-card {
  position: relative;
  background: #ffffff;
  border-radius: 16px;
  border: 1px solid #eaeaea;
  padding: 60px 18px 26px;
  text-align: center;
  box-shadow: 0 4px 14px rgba(0,0,0,0.05);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.pcb-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.07);
}

/* === Floating Icon === */
.pcb-icon {
  position: absolute;
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
  background: #18443d;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.pcb-icon svg {
  width: 30px;
  height: 30px;
}

/* === Tekst === */
.pcb-card h3 {
  font-family: 'Inter', sans-serif !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #000 !important;
  margin: 0 0 8px !important;
}

.pcb-card p {
  font-family: 'Inter', sans-serif !important;
  font-size: 14px !important;
  color: #444 !important;
  margin: 0 auto !important;
  line-height: 1.55 !important;
  max-width: 240px !important;
}

      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#i2l02a1cec246","target":"_self","title":"Section 10","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--mb-tablet:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gYpFJ_vjq5"].gp-button-base::before, [data-id="gYpFJ_vjq5-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="gYpFJ_vjq5"]:hover::before, [data-id="gYpFJ_vjq5-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#i2l02a1cec246
            target=_self
          ></a>
        <a
          data-id="gYpFJ_vjq5" dataId="gYpFJ_vjq5" data-state="idle" aria-label="<p>Verder lezen</p>"
          
          href="#i2l02a1cec246" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:100px;--pr:100px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--bgi:;--bg:#33B249;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="gYpFJ_vjq5 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggYpFJ_vjq5_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-595062392028332732 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=595062391910171324&sectionId=595062392028332732)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggYpFJ_vjq5_label","label":"ggYpFJ_vjq5_label","default":"<p>Verder lezen</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}